* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-size: 75%;
    
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(1, 25, 1);
}
h1 {
    color:darkgoldenrod;
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    
}
h2 {
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 2px black;
}
p {
    font-size: 2rem;
    color: white;
}
.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-width: 90vw;
    min-height: 100vh;
    
    width: 100%;
    margin: 0 auto;
    
    border: 1px solid black;
    
    background-image: url('green-background.avif');
    border: 2px solid orange;
    border-radius: 2em;
    /* border: 1px solid; */
}
.game {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    gap: 1em;
    padding-bottom: 1em;
}
#message-el {
    font-style: italic;
    width: 100%;
    text-align: center;
}
.btn {
    background: rgb(88, 65, 6);
    width: 90%;
    border-radius: .2em;
    padding: .5em;
    color: white;
    border: 1px solid white;
    
    font-size: 2rem;

}
.error {
    color: red;
    background: white;
    padding: .2em .5em;
    border-radius: .2em;
}
.blackjack {
    color: goldenrod;
}
.wonDealer {
    color: blue; 
}
.moneyLost {
    color: red;
}
.moneyWon {
    color: blue;
}
.loose {
    color: red;
}
#player-el {
    padding: 1em 0 0;
}
@media  (min-width:600px) {
    html {
        font-size: 100%;
    }
    .container {
        gap: 5rem;
    }
    
    
}