* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
    --container-background: #3F4531;
    --header-color: #499167;
    --text-color: #5FDD9D;
    --message-color: #91F9E5;

}
html {
    font-size: 62%;
    
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #000000;
    color:var(--text-color);
}
h1 {
    
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    
    
}
.header-color {
    color: var(--header-color);
}
h2 {
    font-size: 3rem;
    
   
}
p {
    font-size: 2rem;
    color: var(--text-color);
    text-shadow: 0px 0px 2px black;
}
.container, .header, .content, .buttons, .cash {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    padding: .2em;
    
    
}


.container {
    width: 95%;
    height: 100vh;
    margin:  1em auto;
    gap: 1em;
    padding-top: 2em;
    
    
    background: var(--container-background);
    border: 2px solid white;
    border-radius: 1em;
    /* border: 1px solid black; */
    
    
    
    /* border: 1px solid; */
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    /* border: 1px solid red; */
    
}
.content {
    height: 100%;;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 1em;
    
    /* border: 1px solid yellow; */
    
}
.buttons {
    
    width: 100%;
    margin-bottom: 1em;;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    /* border: 1px solid green; */
    

}

    
    
.message-el {
    font-style: italic;
    width: 100%;
    text-align: center;
    color: var(--message-color);
    
    
    
}
.btn {
    background: #3a2021;
    
    border-radius: .2em;
    padding: .5em;
    color: white;
    border: 1px solid white;
    
    font-size: 2rem;

}
.error {
    color: white;
}

.wonDealer, .loose, .blackjack {
    color: rgb(29, 214, 16);
    text-shadow: 1px  1px 2px black;
}
#money-el {
    font-size: 3rem;
}
.moneyLost {
    color: red;
    text-shadow: none;
}
.moneyWon {
    color: rgb(0, 255, 68);
    text-shadow: none;
}

#player-el {

    
}

/* @media  (min-width:600px) {
    html {
        font-size: 100%;
    }
    .container {
        gap: 5rem;
    }
    
    
} */
@media  (min-width:600px) {
    html {
        font-size: 120%;
    }
    .container {
        height:fit-content;
    }
    
}