* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-size: 75%;
    
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #C6ECAE;
    color:aqua;
}
h1 {
    color:#777DA7;
    font-size: 5rem;
    text-shadow: 2px 2px 2px black;
    
    
}
h2 {
    font-size: 3rem;
    
   
}
p {
    font-size: 2rem;
    color: white;
    text-shadow: 0px 0px 2px black;
}
.container, .header, .content,.buttons, .cash {
    
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    padding: .2em;
    
    
}


.container {
    width: 95%;
    height: 95vh;
    margin:  .2em auto;
    gap: 1em;
    
    
    background: #0b341b;
    border: 2px solid #885053;
    border-radius: 1em;
    
    
    
    /* border: 1px solid; */
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    
}
.content {
    height: 100%;;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 1em;
    
}
.buttons {
    height: 60%;
    width: 100%;
    margin-bottom: 1em;;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    

}

    
    
#message-el {
    font-style: italic;
    width: 100%;
    text-align: center;
    
    
    
}
.btn {
    background: #3a2021;
    width: 10em;
    border-radius: .2em;
    padding: .5em;
    color: white;
    border: 1px solid white;
    
    font-size: 1.5rem;

}
.error {
    color: red;
}

.wonDealer, .loose, .blackjack {
    color: rgb(229, 57, 223);
    text-shadow: 1px  1px 2px black;
}
#money-el {
    font-size: 3rem;
}
.moneyLost {
    color: red;
    text-shadow: none;
}
.moneyWon {
    color: rgb(0, 145, 255);
    text-shadow: none;
}

#player-el {

    
}
@media  (min-width:600px) {
    html {
        font-size: 100%;
    }
    .container {
        gap: 5rem;
    }
    
    
}